@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: aliceblue;
}

body{
    background: url(../pacote-d013/imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    position: relative;
    height: 100vh;
    position: relative;
}

section#tel{
    position: absolute;
    height: 627px;
    width: 311px;
    background: url(../pacote-d013/imagens/frame-iphone.png);
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#face{
    height: 500px;
    width: 290px;
}